.App {
  text-align: center;
  /* background: lightslategray; */
  height: 100vh;
  margin: 2rem 2rem;
  font-size: larger;
  gap: 4rem;
 
}
.appHeader{
  margin: 3rem ;
  text-decoration: underline;
  font-size: 4rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn{
  margin: 2px;;
}
.divbtn{
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.headerfont{
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
}